<div class="modal-header">
    <h4 class="modal-title">Значения сумм весов при обучении</h4>
</div>
<div class="modal-body panel-connection">
    <div class="table-responsive">
        <table class="table table-bordered table-connection">
            <thead>
            <tr>
                <th>N<sub>эт.</sub>\Класс</th>
                <th ng-repeat="weights in vm.originWeights track by $index">
                    [[ weights.class ]]
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sum in vm.weightsSum">
                <td>
                    <strong>[[ $index + 1 ]]</strong>
                </td>
                <td ng-repeat="value in sum track by $index">
                    [[ value ]]
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="btn btn-sm btn-primary" ng-click="vm.cancel()">Закрыть</div>
</div>